html, body{ /* this is a comment*/
    font-family:fantasy;
    font-size:80px;
    text-align:center;
    color:rgb(69, 0, 78);
   /* background-color:rgb(193, 239, 171);*/
    
    background-size: cover;
    overflow:auto;
}
#image1 img{
overflow:auto;
z-index: 1 ;
}
#image2 img{
    text-align:center;
    position:fixed;
    right: 750px;
    top: 200px;
    z-index:1;
    opacity: 10;
    
}
#image3 img{
    overflow:auto;
     z-index: -1 ;
     width: 100vw;
     height:100 vh;
}
 h1{
        color:rgb(72, 21, 72);
        font-size: 40px;
        position: absolute;
        top:8400px;
        left:100px;
        z-index:1;
 }